<div class="order__filter">
    <div class="order__filter-title">
        <h2>Объекты</h2>

        <h2 class="order__filter-title-span">
            {{ title }}

            @if (data | filtering : selectedHouseType : selectedCity | sorting :
            selectedSortBy; as filteredData;) {

            <span class="order__filter-title-length">{{
                filteredData.length
            }}</span>
            }
        </h2>
    </div>
    <div class="order__filter__wrapper">
        <div class="order__filter__wrapper_item">
            <select id="houseType" [(ngModel)]="selectedHouseType">
                <option value="" disabled>Тип</option>
                <option value="apartments">Апартаменты</option>
                <option value="house">Дом</option>
                <option value="float">Квартира</option>
            </select>
        </div>
        <div class="order__filter__wrapper_item">
            <select id="city" [(ngModel)]="selectedCity">
                <option value="" disabled>Расположение</option>
                <option *ngFor="let city of cities" [value]="city">
                    {{ city }}
                </option>
                <option value="">Все</option>
            </select>
        </div>
        <div class="order__filter__wrapper_item">
            <select id="sort" [(ngModel)]="selectedSortBy">
                <option value="" disabled>Сортировать по</option>
                <option value="price_asc">По цене (возрастанию)</option>
                <option value="price_desc">По цене (убыванию)</option>
                <option value="area_asc">По площади (возрастанию)</option>
                <option value="area_desc">По площади (убыванию)</option>
            </select>
        </div>
    </div>
</div>

@if (data | filtering : selectedHouseType : selectedCity | sorting :
selectedSortBy; as filteredData;) { @if (filteredData.length > 0; ) { @for (item
of filteredData | filtering : selectedHouseType : selectedCity | sorting :
selectedSortBy; track item.id) {

<div class="order_wrapper" [ngClass]="{ 'order_wrapper-large': item.large }">
    <div class="order__left" [ngClass]="{ 'order__left-large': item.large }">
        <div
            class="order__left__image"
            [ngClass]="{
                'order__left__image-large': item.large
            }"
        >
            <img [src]="item.img" [alt]="item.title" />

            <div class="order__left__image_top">
                <img src="/assets/icons/pointer.svg" alt="Pointer Azur" />
                <span>{{ item.address }}</span>
            </div>

            <div class="order__left__image_bottom">
                <p class="order__left__image_bottom-title">
                    {{ item.title }}
                </p>
                <p class="order__left__image_bottom-description">
                    {{ item.description }}
                </p>
            </div>
            @if (item.choice) {
            <div
                [ngClass]="{
                    'order__left__image-choice': item.choice
                }"
            >
                <app-choice-svg></app-choice-svg>
            </div>

            } @if (item.exclusive) {

            <div
                [ngClass]="{
                    'order__left__image-exclusive': item.exclusive
                }"
            >
                <app-exclusive-svg></app-exclusive-svg>
            </div>

            }
        </div>
    </div>
    <div
        class="order__right"
        [ngClass]="{
            'order__right-large': item.large
        }"
    >
        <div class="order__right__top">
            <p class="order__right__top-title">
                {{ item.title }}
            </p>
            <p class="order__right__top-description">
                {{ item.description }}
            </p>
        </div>

        <div
            class="order__right__bottom"
            [ngClass]="{
                'order__right__bottom-add': item.choice || item.exclusive
            }"
        >
            <div class="order__right__bottom_price">
                <span>
                    {{ item.price | currency : "EUR" : "symbol-narrow" }}
                </span>
                <span
                    >{{ item.area }} <span>м <sup>2</sup></span></span
                >
            </div>

            @if (item.choice) {
            <div
                [ngClass]="{
                    'order__right__bottom-choice': item.choice
                }"
            >
                <app-choice-svg [width]="'32'" [height]="'42'"></app-choice-svg>
                <span
                    >Выбор <br />
                    Azur Life</span
                >
            </div>

            } @if (item.exclusive) {

            <div
                [ngClass]="{
                    'order__right__bottom-exclusive': item.exclusive
                }"
            >
                <app-exclusive-svg
                    [width]="'32'"
                    [height]="'42'"
                ></app-exclusive-svg>
                <span
                    >Эксклюзивно <br />
                    в Azur Life</span
                >
            </div>

            }

            <a
                [routerLink]="item.id"
                class="order__right__bottom_link"
                [ngClass]="{
                    'order__right__bottom_link-add':
                        item.choice || item.exclusive
                }"
            >
                Смотреть объект
            </a>
        </div>
    </div>
</div>

} } @else {
<h2 class="order_nothing">Ничего не найдено</h2>
} }
