.order {
    padding-top: 154px;
    min-height: 100vh;
    padding-bottom: 177px;
    position: relative;
    background-color: var(--background-second);
    &__filter {
        display: flex;
        padding-left: 56px;
        padding-right: 73px;
        align-items: end;
        justify-content: space-between;
        gap: 54px;
        &-title {
            min-width: 450px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            &-span {
                position: relative;
                width: max-content;
            }
            &-length {
                position: absolute;
                right: -1rem;
                top: -1rem;
            }
        }
        &__wrapper {
            max-width: 600px;
            min-width: 420px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_item {
                display: flex;
                align-items: center;
                gap: 9px;
                cursor: pointer;

                select {
                    background: transparent;
                    border: none;
                    outline: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    background-image: url("/assets/icons/filter_arrow_bottom.svg");
                    background-repeat: no-repeat;
                    background-position: right;
                    padding: 6px 24px 6px 0;
                    cursor: pointer;
                }

                option {
                    background-color: var(--background-second);
                    color: var(--menu-text);
                }
            }
        }
    }
    &_wrapper {
        min-height: 570px;
        height: max-content;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 180px;
        padding-left: 133px;
        padding-right: 69px;
        &-large {
            background-color: var(--background);
            padding-left: 0;
        }
    }

    &__left {
        position: relative;
        width: 50%;
        padding-left: 56px;

        &__image {
            position: absolute;
            width: max-content;
            top: 0;
            z-index: 10;
            &-large {
                top: -46px;
            }

            &-choice,
            &-exclusive {
                position: absolute;
                top: -3%;
                right: 5%;
                z-index: 1000;
            }

            &_top {
                position: absolute;
                top: 4rem;
                left: 3.5rem;
                display: flex;
                width: max-content;
                gap: 11px;
            }

            &_bottom {
                position: absolute;
                bottom: 10%;
                left: 3.5rem;
                display: flex;
                flex-direction: column;
                gap: 31px;
                &-title {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 120%;
                    max-width: 300px;
                }
                &-description {
                    font-weight: 400;
                    line-height: 151%;
                    max-width: 340px;
                }
            }
        }
    }
    &__right {
        max-width: 570px;
        min-width: 490px;
        padding-top: 20px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-large {
            padding-top: 60px;
        }

        &__top {
            display: flex;
            flex-direction: column;
            gap: 36px;
            &-title {
                font-size: 20px;
                line-height: 120%;
                max-width: 300px;
            }

            &-description {
                line-height: 151%;
                max-width: 340px;
            }
        }
        &__bottom {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);

            &-add {
                grid-row-gap: 56px;
            }
            &_price {
                display: flex;
                flex-direction: column;
                gap: 12px;
                sup {
                    font-size: 11px;
                }
            }
            &_button {
                background-color: var(--button-background);
                padding: 17px 32px;
                border-radius: 7px;
                border: none;
                cursor: pointer;
                &:hover {
                    background-color: var(--button-hover);
                }
                &-add {
                    grid-column: 2;
                    grid-row: 2;
                }
            }

            &-choice,
            &-exclusive {
                display: flex;
                gap: 18px;
                max-width: 200px;
                grid-column: 1;
                grid-row: 2;
            }
        }
    }

    &_nothing {
        text-align: center;
        width: max-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--menu-text);
    }
}
