<div class="order__filter" *transloco="let t; read: 'filter'">
    <div class="order__filter-title">
        <h2>
            {{ t("filter_title") }}
        </h2>

        <h2 class="order__filter-title-span">
            {{ t(title) }}

            @if (data | filtering : selectedHouseType : selectedCity | sorting :
            selectedSortBy; as filteredData;) {

            <span class="order__filter-title-length">{{
                filteredData.length
            }}</span>
            }
        </h2>
    </div>
    <div class="order__filter__wrapper">
        <div class="order__filter__wrapper_item">
            <select id="houseType" [(ngModel)]="selectedHouseType">
                <option value="" disabled>
                    {{ t("filter_type") }}
                </option>
                <option value="apartments">
                    {{ t("filter_type_apartments") }}
                </option>
                <option value="house">
                    {{ t("filter_type_house") }}
                </option>
                <option value="float">
                    {{ t("filter_type_float") }}
                </option>
            </select>
        </div>
        <div class="order__filter__wrapper_item">
            <select id="city" [(ngModel)]="selectedCity">
                <option value="" disabled>
                    {{ t("filter_location") }}
                </option>
                <option *ngFor="let city of cities" [value]="city">
                    {{ t(city) }}
                </option>
                <option value="">
                    {{ t("filter_location_all") }}
                </option>
            </select>
        </div>
        <div class="order__filter__wrapper_item">
            <select id="sort" [(ngModel)]="selectedSortBy">
                <option value="" disabled>
                    {{ t("filter_sort") }}
                </option>
                <option value="price_asc">
                    {{ t("filter_sort_price_asc") }}
                </option>
                <option value="price_desc">
                    {{ t("filter_sort_price_desc") }}
                </option>
                <option value="area_asc">
                    {{ t("filter_sort_area_asc") }}
                </option>
                <option value="area_desc">
                    {{ t("filter_sort_area_desc") }}
                </option>
            </select>
        </div>
    </div>
</div>

@if (data | filtering : selectedHouseType : selectedCity | sorting :
selectedSortBy; as filteredData;) { @if (filteredData.length > 0; ) { @for (item
of filteredData | filtering : selectedHouseType : selectedCity | sorting :
selectedSortBy; track item.id) {

<div
    class="order_wrapper"
    [ngClass]="{ 'order_wrapper-large': item.large }"
    *transloco="let t; read: 'filter'"
>
    <div class="order__left" [ngClass]="{ 'order__left-large': item.large }">
        <div
            class="order__left__image"
            [ngClass]="{
                'order__left__image-large': item.large
            }"
        >
            <img [src]="item.img" [alt]="t(item.title)" />

            <div class="order__left__image_top">
                <img src="assets/icons/pointer.svg" alt="Pointer Azur" />
                <span>{{ t(item.address) }}</span>
            </div>

            <div class="order__left__image_bottom">
                <p class="order__left__image_bottom-title">
                    {{ t(item.title) }}
                </p>

                @if (item.description) {
                <p class="order__left__image_bottom-description">
                    {{ t(item.description) }}
                </p>
                }
            </div>
            @if (item.choice) {
            <div
                [ngClass]="{
                    'order__left__image-choice': item.choice
                }"
            >
                <app-choice-svg></app-choice-svg>
            </div>

            } @if (item.exclusive) {

            <div
                [ngClass]="{
                    'order__left__image-exclusive': item.exclusive
                }"
            >
                <app-exclusive-svg></app-exclusive-svg>
            </div>

            }
        </div>
    </div>
    <div
        class="order__right"
        [ngClass]="{
            'order__right-large': item.large
        }"
    >
        <div class="order__right__top">
            <p class="order__right__top-title">
                {{ t(item.title) }}
            </p>

            @if(item.description) {
            <p class="order__right__top-description">
                {{ t(item.description) }}
            </p>
            }
        </div>

        <div
            class="order__right__bottom"
            [ngClass]="{
                'order__right__bottom-add': item.choice || item.exclusive
            }"
        >
            <div class="order__right__bottom_price">
                <span>
                    {{ item.price | currency : "EUR" : "symbol-narrow" }}
                </span>
                <span
                    >{{ item.area }} <span>м <sup>2</sup></span></span
                >
            </div>

            @if (item.choice) {
            <div
                [ngClass]="{
                    'order__right__bottom-choice': item.choice
                }"
            >
                <app-choice-svg [width]="'32'" [height]="'42'"></app-choice-svg>
                <span [innerHTML]="t('filter_choice')"></span>
            </div>

            } @if (item.exclusive) {

            <div
                [ngClass]="{
                    'order__right__bottom-exclusive': item.exclusive
                }"
            >
                <app-exclusive-svg
                    [width]="'32'"
                    [height]="'42'"
                ></app-exclusive-svg>
                <span [innerHTML]="t('filter_exclusive')"></span>
            </div>

            }

            <a
                [routerLink]="item.id"
                class="order__right__bottom_link"
                [ngClass]="{
                    'order__right__bottom_link-add':
                        item.choice || item.exclusive
                }"
            >
                {{ t("filter_view_object") }}
            </a>
        </div>
    </div>
</div>

} } @else {
<h2 class="order_nothing" *transloco="let t; read: 'filter'">
    {{ t("filter_view_nothing") }}
</h2>
} }
