<div class="fee__first">
    <div class="container" *transloco="let t; read: 'fee_first'">
        <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>

        <h1 class="fee__first_title">
            {{ t("fee_first_title") }}
        </h1>

        <div class="fee__first_wrapper">
            <div class="fee__first_wrapper_top">
                <p class="fee__first_wrapper_top-category">
                    {{ t("fee_first_top_category") }}
                </p>
                <p class="fee__first_wrapper_top-fee">
                    {{ t("fee_first_top_fee") }}
                </p>
                <p class="fee__first_wrapper_top-feevat">
                    {{ t("fee_first_top_feevat") }}
                </p>
            </div>

            <div class="fee__first_wrapper_bottom">
                @for (fee of fees; track fee;) {

                <div class="fee__first_wrapper_bottom_item">
                    <p class="fee__first_wrapper_bottom_item-first">
                        {{ t(fee.category) }}
                    </p>

                    <p class="fee__first_wrapper_bottom_item-second">
                        {{ fee.commission }}
                    </p>

                    @if (fee.description) {
                    <p class="fee__first_wrapper_bottom_item-third">
                        {{ t(fee.description) }}
                    </p>
                    }
                </div>
                }
            </div>
        </div>
    </div>
    <img src="assets/images/letters/a.svg" alt="" class="fee__first_letter" />

    <app-navigation-bottom-links></app-navigation-bottom-links>
</div>
