<div class="home__fifth">
    <div class="container" *transloco="let t; read: 'home_fifth'">
        <img
            src="assets/images/letters/ampersand.svg"
            alt="Ampersand"
            class="home__fifth_ampersand"
        />
        <div class="home__fifth_left">
            <h2 class="home__fifth_left-title">
                {{ t("home_fifth_title_left") }}
            </h2>
            <a class="home__fifth_left-link" href="#">
                {{ t("home_fifth_more") }}
            </a>

            <p class="home__fifth_left-description">
                {{ t("home_fifth_description_left") }}
            </p>
        </div>
        <div class="home__fifth_right">
            <h2 class="home__fifth_right-title">
                {{ t("home_fifth_title_right") }}
            </h2>
            <a class="home__fifth_right-link" href="#">
                {{ t("home_fifth_more") }}
            </a>
            <p class="home__fifth_right-description">
                {{ t("home_fifth_description_right") }}
            </p>
        </div>
    </div>
</div>
