<div class="header">
    <div class="header__contacts">
        <div class="header__contacts_logo">
            <a [routerLink]="'/'"
                ><img src="assets/icons/logo.svg" alt="Logo Azur"
            /></a>
            <span>Azur Life</span>
        </div>
        <img src="assets/icons/header_divider.svg" alt="Divider" />
        <div class="header__contacts_address" *transloco="let t; read: 'contact_with_us'">
            <img src="assets/icons/pointer.svg" alt="Pointer Azur" />
            <span> {{ t("contact_address") }}</span>
        </div>
        <img src="assets/icons/header_divider.svg" alt="Divider" />
        <div class="header__contacts_phone">
            <img src="assets/icons/phone.svg" alt="Phone Azur" />
            <span>+33 4 93 16 06 31 </span>
        </div>
    </div>
    <div class="header__menu">
        <app-language-switcher></app-language-switcher>

        <img
            src="assets/icons/menu_open.svg"
            alt="Burger menu open"
            (click)="onOpenMenu()"
            class="burger__open"
        />
    </div>
</div>
