.header {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    padding: 0 7.5rem;
    z-index: 200;
    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 700px;
        height: max-content;
        cursor: default;
        &_logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }
        &_address {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        &_phone {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 4px;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 132px;
        position: fixed;
        top: inherit;
        right: 7.5rem;
        &_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 82px;
            a {
                text-decoration: none;
            }
        }
    }
}

.burger__open {
    cursor: pointer;

    svg:hover path {
        stroke: red;
    }
}
