<div class="objects__second" *transloco="let t; read: 'objects_second'">
    <div class="objects__second_sell">
        <h2 class="objects__second_sell-title">
            {{ t("objects_second_title") }}
        </h2>
        <a class="objects__second_sell-link">
            {{ t("objects_second_link") }}
        </a>
    </div>

    <div class="objects__second_slider">
        <app-swiper
            [slides]="slides"
            [config]="config"
            [activeSlide]="activeSlideIndex"
        ></app-swiper>

        <div class="swiper-navigation">
            <div class="objects__second_slider-button-prev">
                <img src="assets/icons/prev_slide.svg" alt="Prev slide" />
            </div>
            <div class="objects__second_slider-button-next">
                <img src="assets/icons/next_slide.svg" alt="Next slide" />
            </div>
        </div>
    </div>
</div>
