.objects__third {
    padding-top: 117px;
    padding-bottom: 161px;
    min-height: 100vh;
    background-color: var(--background-second);
    position: relative;
    &_rent {
        position: relative;
        margin-left: 125px;
        width: max-content;
        &-link {
            display: block;
            position: absolute;
            width: max-content;
            top: -1rem;
            left: 280px;
            cursor: pointer;
            &:after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                bottom: -5px;
                left: 0;
                background-color: var(--primary);
            }
        }
    }
    &_slider {
        position: relative;
        user-select: none;
        &-button-next,
        &-button-prev {
            cursor: pointer;
        }
    }
}

.swiper-navigation {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    height: 0px;
}

.navigation__links {
    padding: 0 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 55px;
    &_left,
    &_right {
        position: relative;
        a {
            display: flex;
            align-items: center;
            gap: 13px;
            text-decoration: none;
            span {
                position: relative;
                font-size: 20px;
                &::before {
                    width: 0;
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    height: 1px;
                    transition: all 0.5s;
                }
                &:hover {
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        width: 100%;
                        height: 1px;
                        background-color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}
