<div class="objects__third">
    <div class="objects__third_rent">
        <h2 class="objects__third_rent-title">Аренда</h2>
        <a class="objects__third_rent-link"> Смотреть все объекты в аренду </a>
    </div>
    <div class="objects__third_slider">
        <app-swiper
            [slides]="slides"
            [config]="config"
            [activeSlide]="activeSlideIndex"
        ></app-swiper>

        <div class="swiper-navigation">
            <div class="objects__third_slider-button-prev">
                <img src="/assets/icons/prev_slide.svg" alt="Prev slide" />
            </div>
            <div class="objects__third_slider-button-next">
                <img src="/assets/icons/next_slide.svg" alt="Next slide" />
            </div>
        </div>
    </div>
    <app-navigation-bottom-links></app-navigation-bottom-links>
</div>
