<div class="home">
    <div class="container" *transloco="let t; read: 'home_first'">
        <h1 class="home__title" [innerHTML]="t('home_first_title')"></h1>
        <p
            class="home__description"
            [innerHTML]="t('home_first_description')"
        ></p>
        <div class="home__wrapper">
            <a href="" class="home__wrapper_link">
                {{ t("home_first_presentation") }}
            </a>
            <button
                class="home__wrapper_button"
                (click)="contactWithUsService.toggleIsOpenContact()"
            >
                {{ t("home_first_contact") }}
            </button>
        </div>
    </div>
</div>
