<div class="home__eighth" id="request">
    <div class="home__eighth__wrapper">
        <div class="container">
            @if (break) {
            <h2
                [innerHTML]="title | breakSentenceWithBR : 3"
                class="home__eighth_title"
            ></h2>
            } @else {
            <h2 class="home__eighth_title">{{ title }}</h2>
            }
            <form class="home__eighth__form" [formGroup]="emailForm">
                <div class="home__eighth__form_controls">
                    <div
                        class="home__eighth__form_control"
                        [ngClass]="{
                            invalid: email?.touched && email?.invalid
                        }"
                    >
                        <input
                            id="email"
                            type="email"
                            formControlName="email"
                            autocomplete="email"
                            placeholder="Введите свой email"
                        />
                    </div>
                    <div
                        class="validation"
                        *ngIf="email?.touched && email?.invalid"
                    >
                        <small *ngIf="getError('email', 'required')"
                            >Пожалуйста, введите ваш email</small
                        >
                        <small *ngIf="getError('email', 'email')"
                            >Пожалуйста, введите валидный email
                        </small>
                    </div>
                </div>
                <div class="home__eighth__form_checkbox_wrapper">
                    <div class="home__eighth__form_checkbox">
                        <input
                            type="checkbox"
                            id="privacyCheckbox"
                            formControlName="privacyPolicy"
                            class="home__eighth__form_checkbox-input"
                        />
                        <span
                            class="home__eighth__form_checkbox-checkmark"
                        ></span>
                    </div>
                    <label
                        for="privacyCheckbox"
                        class="home__eighth__form_checkbox-label"
                        >Оставляя свой email, я принимаю политику
                        конфиденциальности.</label
                    >
                </div>

                <div class="home__eighth__form__submit">
                    <button
                        [disabled]="emailForm.invalid"
                        type="submit"
                        class="home__eighth__form__submit-button"
                    >
                        Отправить
                    </button>
                </div>
            </form>
        </div>
    </div>
    <app-navigation-bottom-links></app-navigation-bottom-links>
</div>
