<div class="buySellRent__third">
    <div class="container">
        <div
            *ngFor="let realEstate of realEstates; let i = index"
            class="buySellRent__third__item"
        >
            <h2 class="buySellRent__third__item_title">
                {{ realEstate.title }}
            </h2>
            <div class="buySellRent__third__items">
                <div class="buySellRent__third__item_wrapper">
                    <p class="buySellRent__third__item_wrapper-description">
                        {{ realEstate.description }}
                    </p>
                    <div class="buySellRent__third__item_wrapper_feedback">
                        <a
                            href=""
                            class="buySellRent__third__item_wrapper_feedback-link"
                            >Свяжитесь с нами или</a
                        >
                        <button
                            class="buySellRent__third__item_wrapper_feedback-button"
                        >
                            Оставьте запрос
                        </button>
                    </div>
                </div>
                <a
                    [href]="realEstate.actionLink"
                    class="buySellRent__third__item_link"
                    >Узнать больше</a
                >
            </div>
            <img
                [src]="realEstate.imageUrl"
                alt="Background letter"
                [ngClass]="{
                    'buySellRent__third__item_first-image': i === 0,
                    'buySellRent__third__item_second-image': i === 1,
                    'buySellRent__third__item_third-image': i === 2
                }"
            />
        </div>
    </div>
</div>
