<div class="buySellRent__third">
    <div class="container">
        <div class="buySellRent__third__item buySellRent__third__item_first">
            <h2 class="buySellRent__third__item_title">купить</h2>
            <div class="buySellRent__third__items">
                <div class="buySellRent__third__item_wrapper">
                    <p class="buySellRent__third__item_wrapper-description">
                        Эксклюзивный выбор апартаментов во Франции. Для того
                        чтобы выбрать лучший объект недвижимости, нужно сделать
                        только одно - довериться нам. Свяжитесь с нами, чтобы
                        подобрать предпочтительный вариант из перечня локаций и
                        пространств.
                    </p>

                    <div class="buySellRent__third__item_wrapper_feedback">
                        <a
                            href=""
                            class="buySellRent__third__item_wrapper_feedback-link"
                            >Свяжитесь с нами или</a
                        >
                        <button
                            class="buySellRent__third__item_wrapper_feedback-button"
                        >
                            Оставьте запрос
                        </button>
                    </div>
                </div>

                <a href="" class="buySellRent__third__item_link"
                    >Узнать больше</a
                >
            </div>
            <img
                src="/assets/images/letters/b.svg"
                alt=""
                class="buySellRent__third__item_first-image"
            />
        </div>

        <div class="buySellRent__third__item buySellRent__third__item_second">
            <h2 class="buySellRent__third__item_title">продать</h2>

            <div class="buySellRent__third__items">
                <div class="buySellRent__third__item_wrapper">
                    <p class="buySellRent__third__item_wrapper-description">
                        Осуществить продажу недвижимости во Франции можно легко:
                        обратитесь к менеджерам Azur Life, чтобы урегулировать
                        все административные формальности, связанные с вашей
                        недвижимостью.
                    </p>

                    <div class="buySellRent__third__item_wrapper_feedback">
                        <a
                            href=""
                            class="buySellRent__third__item_wrapper_feedback-link"
                            >Свяжитесь с нами или</a
                        >
                        <button
                            class="buySellRent__third__item_wrapper_feedback-button"
                        >
                            Оставьте запрос
                        </button>
                    </div>
                </div>
                <a href="" class="buySellRent__third__item_link"
                    >Узнать больше</a
                >
            </div>
            <img
                src="/assets/images/letters/s.svg"
                alt=""
                class="buySellRent__third__item_second-image"
            />
        </div>

        <div class="buySellRent__third__item buySellRent__third__item_third">
            <h2 class="buySellRent__third__item_title">арендовать</h2>

            <div class="buySellRent__third__items">
                <div class="buySellRent__third__item_wrapper">
                    <p class="buySellRent__third__item_wrapper-description">
                        Azur Life предоставляет опцию полного сопровождения
                        сделки аренды. Мы выберем премиальные виллы и
                        апартаменты под Ваш запрос без комиссии и дополнительных
                        наценок. Всё, что вам нужно сделать - озвучить Ваши
                        предпочтения.
                    </p>

                    <div class="buySellRent__third__item_wrapper_feedback">
                        <a
                            href=""
                            class="buySellRent__third__item_wrapper_feedback-link"
                            >Свяжитесь с нами или</a
                        >
                        <button
                            class="buySellRent__third__item_wrapper_feedback-button"
                        >
                            Оставьте запрос
                        </button>
                    </div>
                </div>

                <a href="" class="buySellRent__third__item_link"
                    >Узнать больше</a
                >
            </div>

            <img
                src="/assets/images/letters/r.svg"
                alt=""
                class="buySellRent__third__item_third-image"
            />
        </div>
    </div>
</div>
