<div *ngIf="advantagesData[advantage]">
    <h2
        class="advantage__title"
        *transloco="let t; read: 'buy-sell-rent_advantage'"
        [innerHTML]="t(advantagesData[advantage].title) | breakSentenceWithBR"
    ></h2>
</div>

<div class="advantage" *transloco="let t; read: 'buy-sell-rent_advantage'">
    <img
        src="assets/icons/diagonal_divider.svg"
        alt="Diagonal divider"
        class="advantage__divider"
    />

    <div *ngFor="let item of advantagesData[advantage].advantages | keyvalue">
        <div class="advantage__{{ item.key }}">
            <div class="advantage__{{ item.key }}__title">
                <h2 class="advantage__{{ item.key }}__title_number">
                    {{ item.value.number }}
                </h2>
                <span
                    class="advantage__{{ item.key }}__title_symbol"
                    *ngIf="item.value.symbol === 'percent'"
                >
                    <app-svg-percent></app-svg-percent>
                </span>
            </div>

            @if (item.value.subtitle) {
            <p class="advantage__{{ item.key }}__subtitle">
                {{ t(item.value.subtitle) }}
            </p>
            } @if (item.value.description) {
            <p class="advantage__{{ item.key }}__description">
                {{ t(item.value.description) }}
            </p>
            }
        </div>
    </div>
</div>
