<div class="join__first">
    <div class="container">
        <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>
        <h1 class="join__first_title">
            Присоединиться <br />
            к Azur Life
        </h1>

        <p class="join__first_subtitle">Azur Life</p>

        <p class="join__first_description">
            Станьте участником Azur Life. Заполните форму ниже, что бы мы могли
            узнать вас получше.
        </p>

        <app-join-form></app-join-form>
    </div>

    <img
        src="assets/images/letters/a.svg"
        alt="Background letter"
        class="join__first_letter"
    />

    <app-navigation-bottom-links></app-navigation-bottom-links>
</div>
