<div class="about__third">
    <img
        src="/assets/images/letters/ampersand.svg"
        alt="Background ampersand"
        class="about__third_ampersand"
    />

    <div class="container">
        <h2 class="about__third_title">Специалисты Azur Life</h2>
        <div class="about__third__wrapper">
            <div class="about__third__wrapper_left">
               <div class="about__third__wrapper_left-items">
                <div class="about__third__wrapper_left-title">
                    <span class="about__third__wrapper_left-title-name"
                        >Ева Синибальди</span
                    >
                    <span class="about__third__wrapper_left-title-post"
                        >Брокер</span
                    >
                </div>
                <p class="about__third__wrapper_left-description">
                    Специализация: управление недвижимостью <br />
                    Экспертиза: оценка недвижимости, <br />
                    визовые вопросы
                </p>
               </div>
            </div>
            <div class="about__third__wrapper_right">
                <div class="about__third__wrapper_right-title">
                    <span class="about__third__wrapper_right-title-name"
                        >Наталья Виноградова</span
                    >
                    <span class="about__third__wrapper_right-title-post"
                        >Основатель агентства</span
                    >
                </div>

                <p class="about__third__wrapper_right-description">
                    Специализация: продажа <br />
                    и аренда недижимости во Франции. <br />
                    Экспертиза: имущественное право, налоги <br />
                    и визовые вопросы
                </p>
            </div>
        </div>
    </div>
</div>
