<div class="sell__first">
    <div class="container" *transloco="let t; read: 'sell_first'">
        <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>
        <div class="sell__first_wrapper">
            <h1 class="sell__first_title">
                {{ t("sell_first_title") }}
            </h1>
            <div class="sell__first_title-circle">
                <app-logo-circle></app-logo-circle>
            </div>
        </div>

        <p class="sell__first_description">
            {{ t("sell_first_description") }}
        </p>
    </div>
</div>
