<div class="home__third">
    <div class="container">
        <div class="home__third_objects" *transloco="let t; read: 'home_third'">
            <h2 class="home__third_objects-title">
                {{ t("home_third_title") }}
            </h2>
            <a href="" class="home__third_objects-link">
                {{ t("home_third_link") }}
            </a>
        </div>

        <div class="home__third_slider">
            <app-swiper [slides]="slidesSlider" [config]="config"></app-swiper>

            <div class="swiper-navigation">
                <div class="swiper-button-prev">
                    <img src="assets/icons/prev_slide.svg" alt="Prev slide" />
                </div>
                <div class="swiper-button-next">
                    <img src="assets/icons/next_slide.svg" alt="Next slide" />
                </div>
            </div>
        </div>
    </div>
</div>
