<div class="home__fourth">
    <div class="home__fourth__wrapper">
        <div class="container">
            <div
                class="home__fourth__left"
                *transloco="let t; read: 'home_fourth'"
            >
                <h2 class="home__fourth__left_title">
                    {{ t("home_fourth_title") }}
                </h2>
                <div class="home__fourth__left__address">
                    <div class="home__fourth__left__address__pointer_wrapper">
                        <img
                            src="assets/icons/pointer.svg"
                            alt="Office pointer"
                        />
                    </div>
                    <p class="home__fourth__left__address_description">
                        {{ t("home_fourth_address") }}
                    </p>
                </div>
                <p class="home__fourth__left_description">
                    {{ t("home_fourth_description") }}
                </p>

                <button class="home__fourth__left_button">
                    {{ t("home_fourth_button") }}
                </button>
            </div>
            <div class="home__fourth__right">
                <img src="assets/images/home/office.jpg" alt="Azur office" />
            </div>
        </div>
    </div>
</div>
