<div
    class="navigation__links"
    [class.single-link_left]="isFirstPage"
    [class.single-link_right]="isLastPage"
>
    <div class="navigation__links_left" [class.hide]="isFirstPage">
        <a [routerLink]="previousLink">
            <img
                src="/assets/icons/left_arrow_link.svg"
                alt="Left arrow link"
            />
            <span>{{ previousTitle }}</span>
        </a>
    </div>

    <div class="navigation__links_right" [class.hide]="isLastPage">
        <a [routerLink]="nextLink">
            <span>{{ nextTitle }}</span>
            <img
                src="/assets/icons/right_arrow_link.svg"
                alt="Right arrow link"
            />
        </a>
    </div>
</div>
