<div class="navigation__links">
    <div class="navigation__links_left" *ngIf="!isOnFirstPage()">
        <a [routerLink]="getPreviousLink()">
            <img
                src="/assets/icons/left_arrow_link.svg"
                alt="Left arrow link"
            />
            <span *ngIf="getCurrentIndex() - 1 >= 0">{{
                navLinks[getCurrentIndex() - 1].title
            }}</span>
        </a>
    </div>

    <div class="navigation__links_right" *ngIf="!isOnLastPage()">
        <a [routerLink]="getNextLink()">
            <span *ngIf="getCurrentIndex() + 1 < navLinks.length">{{
                navLinks[getCurrentIndex() + 1].title
            }}</span>
            <img
                src="/assets/icons/right_arrow_link.svg"
                alt="Right arrow link"
            />
        </a>
    </div>
</div>
