@if (additionalPages) {
<div class="navigation__links">
    <div
        class="navigation__links_left"
        *transloco="let t; read: 'navigation_bottom_links'"
    >
        <a [routerLink]="'/'">
            <img src="assets/icons/left_arrow_link.svg" alt="Left arrow link" />
            <span>
                {{ t("navigation_bottom_links_title_main") }}
            </span>
        </a>
    </div>
</div>
} @else {

<div
    class="navigation__links"
    [class.single-link_left]="isFirstPage"
    [class.single-link_right]="isLastPage"
    *transloco="let t; read: 'navigation_bottom_links'"
>
    <div class="navigation__links_left" [class.hide]="isFirstPage">
        @if (showSellRentLinks) {
        <a [routerLink]="'/sell'">
            <img src="assets/icons/left_arrow_link.svg" alt="Left arrow link" />
            <span>
                {{ t("navigation_bottom_links_title_sell_objects") }}
            </span>
        </a>
        } @else {

        <a [routerLink]="previousLink">
            <img src="assets/icons/left_arrow_link.svg" alt="Left arrow link" />
            @if (previousTitle) {

            <span>{{ t(previousTitle) }}</span>
            }
        </a>
        }
    </div>

    <div class="navigation__links_right" [class.hide]="isLastPage">
        @if (showSellRentLinks) {
        <a [routerLink]="'/rent'">
            <span>
                {{ t("navigation_bottom_links_title_rent_objects") }}
            </span>
            <img
                src="assets/icons/right_arrow_link.svg"
                alt="Right arrow link"
            />
        </a>
        } @else {

        <a [routerLink]="nextLink">
            @if (nextTitle) {

            <span>{{ t(nextTitle) }}</span>
            }
            <img
                src="assets/icons/right_arrow_link.svg"
                alt="Right arrow link"
            />
        </a>
        }
    </div>
</div>
}
