.container {
    position: relative;
    z-index: 100;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../../../assets/images/home/home_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 305px;
    padding-bottom: 240px;
    &__title {
        width: 900px;
        font-size: 71px;
        letter-spacing: -1.42px;
        line-height: 90%;
    }
    &__description {
        margin-top: 29px;
        width: 511px;
        line-height: 160%;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 43px;
        &_link {
            text-decoration: none;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                bottom: -5px;
                left: 0;
                background-color: var(--primary);
            }
        }
        &_button {
            width: 134px;
            height: 57px;
            border-radius: 7px;
            background-color: var(--background-button);
            border: none;
            padding: 15px;
            color: var(--accent);
            cursor: pointer;
        }
    }
}
