<app-header (openMenu)="toggleMenu()"></app-header>
<app-menu [isOpen]="isOpen" (closeMenu)="toggleMenu()"></app-menu>

<div class="not__found">
    <div class="container">
        <div class="not__found_wrapper">
            <h1 class="not__found_title">Извините, но страница не найдена</h1>
            <app-logo-circle [additionalClasses]="'logo__circle__not_found'"></app-logo-circle>
        </div>
        <p class="not__found_subtitle">
            но вы все ещё можете вернуться на
            <a [routerLink]="'/'">главную страницу</a>
        </p>
    </div>
</div>
