<app-header (openMenu)="toggleMenu()"></app-header>
<app-menu [isOpen]="isOpen" (closeMenu)="toggleMenu()"></app-menu>
<app-contact-with-us></app-contact-with-us>

<div class="not__found">
    <div class="not__found_wrapper">
        <div class="container" *transloco="let t; read: 'not_found'">
            <div class="not__found_top">
                <h1 class="not__found_title">
                    {{ t("not_found_title") }}
                </h1>
                <div class="not__found_title-circle">
                    <app-logo-circle></app-logo-circle>
                </div>
            </div>
            <p class="not__found_subtitle">
                {{ t("not_found_subtitle") }}
                <a [routerLink]="'/'">
                    {{ t("not_found_link") }}
                </a>
            </p>
        </div>
    </div>
</div>
