<div class="home">
    <div class="container">
        <h1 class="home__title">
            Подбор <br />
            недвижимости <br />
            с полным сопровождением на Вашем языке
        </h1>
        <p class="home__description">
            Наше агентство специализируется на премиум объектах <br />
            и презентует их Вам на русском языке. Подбор недвижимости <br />
            во всей Франции с фокусом на самых привилегированных и живописных
            районах Французского Средиземноморья - Ницца, Канны или Лазурный
            Берег без лишних временных затрат и наценнок.
        </p>
        <div class="home__wrapper">
            <a href="" class="home__wrapper_link">Скачать презентацию</a>
            <button class="home__wrapper_button">Напишите нам</button>
        </div>
    </div>
</div>
