<div class="home__sixth">
    <h2 class="home__sixth-title">
        Почему Azur Life <br />
        Вам подходит
    </h2>

    <div class="container">
        <img
            src="../../../../../assets/icons/diagonal_divider.svg"
            alt="Diagonal divider"
        />

        <div class="home__sixth_left home__sixth_item">
            <h2>100<span>%</span></h2>
            <p class="home__sixth_left-title">
                экспертное сопровождение любой сделки
            </p>
            <p class="home__sixth_left-description">
                Ваше спокойствие приоритетно для нас: мы имеем все необходимые
                лицензии, страховые и финансовые гарантии, требуемые французским
                законодательством, чтобы осуществлять сделки с недвижимостью.
            </p>
        </div>

        <div class="home__sixth_center home__sixth_item">
            <h2>100<span>%</span></h2>
            <p class="home__sixth_center-title">
                база недвижимости из первых рук
            </p>
            <p class="home__sixth_center-description">
                Azur Life является членом Национальной Федерации Агентов
                Недвижимости (FNAIM) и имеет допуск к обширной базе объектов
                недвижимости по всей Франции от собственников. Никаких комиссий
                и переплат, только прямое взаимодействие с Azur Life.
            </p>
        </div>

        <div class="home__sixth_right home__sixth_item">
            <h2>360<sup class="home__sixth_right-sup" >o</sup> </h2>

            <p class="home__sixth_right-description">
                Консьерж сервис, аренда, экспертная оценка и управление
                недвижимостью или купля и продажа ваших апартаментов - мы
                сделаем всё, чтобы владение недвижимостью приносило только
                удовольствие.
            </p>
        </div>
    </div>
</div>
