<div class="expertise__first">
    <div class="expertise__first_wrapper">
        <div class="container" *transloco="let t; read: 'expertise_first'">
            <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>

            <h1 class="expertise__first_title">
                {{ t("expertise_first_title") }}

                <span>
                    {{ t("expertise_first_title_span") }}
                </span>
            </h1>

            <p class="expertise__first_description">
                {{ t("expertise_first_description") }}
            </p>
        </div>
    </div>
</div>
<div class="expertise__first_expirience">
    <app-experience-block></app-experience-block>
</div>
