<div class="expertise__first">
    <div class="expertise__first_wrapper">
        <div class="container">
            <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>

            <h1 class="expertise__first_title">
                Экспертная оценка

                <span>недвижимости</span>
            </h1>

            <p class="expertise__first_description">
                Экспертная оценка жилья может понадобиться при взятии кредита в
                банке или при наследовании жилья. Для того чтобы оградить Вас от
                взаимодействия с государственными органами, мы сами проводим
                экспертную оценку имущества и определяем рыночную стоимость
                недвижимости.
            </p>
        </div>
    </div>
</div>
<div class="expertise__first_expirience">
    <app-experience-block></app-experience-block>
</div>
