<div class="objects__first">
    <div class="objects__first_wrapper">
        <div class="container">
            <app-crumbs [current]="'Все объекты'"></app-crumbs>

            <h1 class="objects__first_title">Доступные объекты</h1>

            <p class="objects__first_description">
                Azur Life специализируется на премиум объектах недвижимости на
                всей территории Франции. Мы послужим медиатором любой сделки с
                элитной недвижимостью: купить, продать или арендовать
                апартаменты можно качественно и быстро.
            </p>
        </div>
    </div>
</div>
