<div class="about__second">
    <div class="container">
        <div
            class="about__second_wrapper"
            *transloco="let t; read: 'about_second'"
        >
            <h2 class="about__second_title">
                {{ t("about_second_title_first") }}
                <span class="about__second_title-span">
                    {{ t("about_second_title_second") }}
                    <div class="about__second_title-circle">
                        <app-logo-circle [fill]="fillColor"></app-logo-circle>
                    </div>
                </span>
                <br />
                <span
                    [innerHTML]="t('about_second_title_last')"
                    class="about__second_title-span"
                ></span>
            </h2>
            <span class="about__second_subtitle"> Forbes </span>
            <img
                src="assets/images/letters/a_light.svg"
                alt="Background letter"
                class="about__second_letter"
            />
        </div>
    </div>
</div>
