<div class="about__fourth">
    <img
        src="assets/images/about/about_fourth.jpg"
        alt="Expertise image"
        class="about__fourth_image"
    />
    <div class="container">
        <div
            class="about__fourth_wrapper"
            *transloco="let t; read: 'about_fourth'"
        >
            <h2 class="about__fourth_title">
                {{ t("about_fourth_title") }}
            </h2>

            <p class="about__fourth_description">
                {{ t("about_fourth_description") }}
            </p>

            <div class="about__fourth_experience">
                <app-experience></app-experience>
            </div>

            <button class="about__fourth_button">
                {{ t("about_fourth_button") }}
            </button>
        </div>
    </div>

    <app-navigation-bottom-links></app-navigation-bottom-links>
</div>
