.container {
    padding-right: 56px;
    padding-left: 56px;
}

.sell__second {
    padding-top: 154px;
    min-height: 100vh;
    padding-bottom: 177px;
    position: relative;
    background-color: var(--background-second);
}
