<div class="sell__second">
    <div class="container">
        <app-filter-sort [cities]="cities" [data]="data"></app-filter-sort>
    </div>

    <div class="navigation__links">
        <div class="navigation__links_left">
            <a [routerLink]="''">
                <img
                    src="/assets/icons/left_arrow_link.svg"
                    alt="Left arrow link"
                />
                <span>Доступные объекты</span></a
            >
        </div>

        <div class="navigation__links_right">
            <a [routerLink]="'/objects'">
                <span>Объекты в аренду</span>
                <img
                    src="/assets/icons/right_arrow_link.svg"
                    alt="Right arrow link"
                />
            </a>
        </div>
    </div>
</div>
