.exp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 134px;
    &__black * {
        color: var(--background);
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: max-content;
        gap: 20px;
    }

    &-number {
        font-size: 85px;
        letter-spacing: -1.7px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 4rem;
        left: 70px;
        width: 73px;
        height: 1px;
        background-color: rgba(46, 46, 46, 0.19);
    }
    &:after {
        content: "";
        position: absolute;
        top: 4rem;
        left: 260px;
        width: 73px;
        height: 1px;
        background-color: rgba(46, 46, 46, 0.19);
    }
}
