<div class="exp">
    <div class="exp-item">
        <h2 class="exp-number">7</h2>
        <span
            >лет <br />
            на рынке</span
        >
    </div>
    <div class="exp-item">
        <h2 class="exp-number">27</h2>
        <span
            >постоянных <br />
            клиентов</span
        >
    </div>
    <div class="exp-item">
        <h2 class="exp-number">240</h2>
        <span
            >сделок <br />
            с недвижимостью</span
        >
    </div>
</div>
