<div class="about__first">
    <div class="about__first_wrapper">
        <div class="container" *transloco="let t; read: 'about_first'">
            <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>
            <h1
                class="about__first_title"
                [innerHTML]="t('about_first_title')"
            ></h1>

            <p class="about__first_description">
                {{ t("about_first_description") }}
            </p>

            <button class="about__first_button">
                {{ t("about_first_button") }}
            </button>
        </div>
    </div>
</div>
