@if (data) {
<div
    class="detailed__first"
    [ngStyle]="{ 'background-image': 'url(' + data.imageFull + ')' }"
>
    <div class="detailed__first_wrapper">
        <div class="container" *transloco="let t; read: 'detailed_first'">
            <app-crumbs
                [current]="
                    data.sell ? currentCrumbsTitleSell : currentCrumbsTitleRent
                "
            ></app-crumbs>
            <div class="detailed__first_address">
                <img src="assets/icons/pointer.svg" alt="Location address" />
                <span>
                    {{ t(data.address) }}
                </span>
            </div>

            <div class="detailed__first_title">
                <h1 [innerHTML]="t(data.title) | breakSentenceWithBR"></h1>
                @if(data.exclusive) {
                <span class="detailed__first_title-svg">
                    <app-exclusive-svg></app-exclusive-svg>
                </span>
                } @if(data.choice) {
                <span class="detailed__first_title-svg">
                    <app-choice-svg></app-choice-svg>
                </span>
                }
            </div>

            @if (data.subtitle) {

            <p class="detailed__first_subtitle">{{ t(data.subtitle) }}</p>
            } @if (data.description) {

            <p class="detailed__first_description">{{ t(data.description) }}</p>
            }

            <div class="detailed__first__info">
                @if(data.sell) {
                <button type="button" class="detailed__first__info_button">
                    {{ t("detailed_sell_button") }}
                </button>
                } @else {
                <button type="button" class="detailed__first__info_button">
                    {{ t("detailed_rent_button") }}
                </button>
                }

                <div class="detailed__first__info_wrapper">
                    <span
                        >{{ data.area }}
                        <span
                            >м
                            <sup class="detailed__first__info_wrapper-sup"
                                >2</sup
                            ></span
                        >
                    </span>
                    <img src="assets/icons/header_divider.svg" alt="Divider" />
                    <span>
                        {{ data.price | currency : "EUR" : "symbol" }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
}
