<div class="property__first">
    <div class="property__first_wrapper">
        <div class="container" *transloco="let t; read: 'property_first'">
            <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>

            <h1
                class="property__first_title"
                [innerHTML]="t('property_first_title') | breakSentenceWithBR"
            ></h1>

            <p class="property__first_subtitle">
                {{ t("property_first_subtitle") }}
            </p>

            <p class="property__first_description">
                {{ t("property_first_description") }}
            </p>

            <button class="property__first_button">
                {{ t("property_first_button") }}
            </button>
        </div>
    </div>
</div>
