@if (data) {
<div class="detailed__second">
    <div class="container" *transloco="let t; read: 'detailed_second'">
        <div class="detailed__second__left">
            <h2>
                {{ t("detailed_second_title") }}
            </h2>

            <div class="detailed__second__left_description">
                @for (paragraph of data.descriptionFull; track paragraph) {

                <p class="detailed__second__left_description-paragraph">
                    {{ t(paragraph) }}
                </p>
                }
            </div>

            <div class="detailed__second__left_wrapper">
                @if (data.choice) {
                <div
                    [ngClass]="{
                        'detailed__second__left-choice': data.choice
                    }"
                >
                    <app-choice-svg
                        [width]="'32'"
                        [height]="'42'"
                    ></app-choice-svg>
                    <span [innerHTML]="t('detailed_second_choice')"> </span>
                </div>

                } @if (data.exclusive) {

                <div
                    [ngClass]="{
                        'detailed__second__left-exclusive': data.exclusive
                    }"
                >
                    <app-exclusive-svg
                        [width]="'32'"
                        [height]="'42'"
                    ></app-exclusive-svg>
                    <span [innerHTML]="t('detailed_second_exclusive')"> </span>
                </div>

                }

                <a class="detailed__second__left_link">
                    {{ t("detailed_second_link") }}</a
                >
            </div>
        </div>

        <div class="detailed__second__right">
            <img [src]="data.img" [alt]="data.title" />

            @if (data.choice) {
            <div
                [ngClass]="{
                    'detailed__second__right-choice': data.choice
                }"
            >
                <app-choice-svg></app-choice-svg>
            </div>

            } @if (data.exclusive) {

            <div
                [ngClass]="{
                    'detailed__second__right-exclusive': data.exclusive
                }"
            >
                <app-exclusive-svg></app-exclusive-svg>
            </div>

            }
        </div>
    </div>
</div>
}
