.footer {
    background-image: url("src/assets/images/footer/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 128px 125px 169px;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 245px 287px;
    &__form {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_controls {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 129px;
        }
        &_control {
            width: 100%;
            border-bottom: 1px solid var(--primary-half);
            input {
                width: 100%;
                outline: none;
                border: none;
                background-color: transparent;

                &::placeholder {
                    color: var(--primary-half);
                }
            }
        }
        &__submit {
            align-self: end;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                bottom: -5px;
                left: 0;
                background-color: var(--primary);
            }
            &-button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }

    &__contacts {
        width: 450px;
        height: 118px;
        grid-column: 1;
        grid-row: 2;
        align-self: end;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &-phone {
                display: flex;
                align-items: center;
                gap: 13px;
                img {
                    height: 20px;
                    width: 20px;
                }
            }
            &-links {
                display: flex;
                align-items: center;
                gap: 14px;
            }
        }
        &_email,
        &_address {
            display: flex;
            align-items: center;
            gap: 13px;
            img {
                height: 20px;
                width: 20px;
            }
        }
    }
    &__navlinks {
        grid-column: 2;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        gap: 22px;
        &_title {
            font-style: normal;
            font-weight: 700;
            line-height: 160%;
        }
        &_list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 26px;
            &-item {
                &:nth-child(9) {
                    margin-bottom: -26px;
                }
            }
            &-link {
                text-decoration: none;
                font-weight: 300;
                position: relative;
                transition: all 0.5s;

                &::before {
                    width: 0;
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    height: 1px;
                    transition: all 0.5s;
                }
                &:hover {
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        width: max-content;
                        height: 1px;
                        background-color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }

    &__regions {
        grid-column: 3;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        gap: 22px;
        &_title {
            font-style: normal;
            font-weight: 700;
            line-height: 160%;
            color: var(--footer-region);
        }
        &_list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 25px;
            &-item {
                span {
                    color: var(--footer-region);
                }
            }
        }
    }

    &__design {
        grid-column: 3;
        grid-row: 2;
        align-self: end;
        color: #a69f9f;
    }
}
