<div class="home__sixth" *transloco="let t; read: 'home_sixth'">
    <h2 class="home__sixth-title" [innerHTML]="t('home_sixth_title')"></h2>

    <div class="container">
        <img src="assets/icons/diagonal_divider.svg" alt="Diagonal divider" />

        <div class="home__sixth_left home__sixth_item">
            <h2>100<span>%</span></h2>
            <p class="home__sixth_left-title">
                {{ t("home_title_left") }}
            </p>
            <p class="home__sixth_left-description">
                {{ t("home_description_left") }}
            </p>
        </div>

        <div class="home__sixth_center home__sixth_item">
            <h2>100<span>%</span></h2>
            <p class="home__sixth_center-title">
                {{ t("home_title_center") }}
            </p>
            <p class="home__sixth_center-description">
                {{ t("home_description_center") }}
            </p>
        </div>

        <div class="home__sixth_right home__sixth_item">
            <h2>360<sup class="home__sixth_right-sup">o</sup></h2>

            <p class="home__sixth_right-description">
                {{ t("home_description_right") }}
            </p>
        </div>
    </div>
</div>
