.container {
    position: relative;
    height: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.home {
    &__sixth {
        position: relative;
        background-color: var(--background-second);
        min-height: 100vh;
        padding-top: 187px;
        padding-bottom: 30px;
        &-title {
            position: absolute;
            top: 78px;
            left: 124px;
            font-size: 85px;
            line-height: 90%;
            letter-spacing: -1.7px;
        }

        &_item {
            height: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &_center {
            width: 395px;
            border-radius: 14px;
            background: rgba(255, 255, 255, 0.03);
            backdrop-filter: blur(10.5px);

            h2 {
                font-size: 178px;
                line-height: 25%;
                letter-spacing: -3.5px;
                margin-top: 152px;
                span {
                    font-size: 40px;
                    padding-left: -50px;
                    color: var(--primary-semihalf);
                }
            }
            &-title {
                font-size: 20px;
                line-height: 120%;
                margin-top: 30px;
                max-width: 193px;
                text-align: center;
            }
            &-description {
                width: 330px;
                font-size: 20px;
                margin-top: 70px;
                text-align: center;
            }
        }
        &_left,
        &_right {
            width: 350px;
            backdrop-filter: none;
            background: none;
            h2 {
                font-size: 178px;
                line-height: 30%;
                margin-top: 200px;
                color: var(--primary-semihalf);
                span {
                    font-size: 40px;
                    padding-left: -50px;
                    color: var(--primary-semihalf);
                }
            }
            &-title {
                max-width: 280px;
                margin-top: 30px;
                text-align: center;
                font-size: 20px;
            }
            &-sup {
                font-size: 40px;
                color: var(--primary-semihalf);
            }
            &-description {
                width: 283px;
                font-size: 15px;
                margin-top: 70px;
                text-align: center;
            }
        }
        &_right {
            h2 {
                line-height: 90%;
                margin-top: 130px;
            }
            &-description {
                margin-top: 170px;
            }
        }
    }
}
