<swiper-container fmSwiper [config]="config" init="false">
    @for (slide of slides; track slide.img; let idx = $index) {
    <swiper-slide>
        <div class="swiper__slider__home">
            <div class="swiper__slider__home__wrapper">
                <div class="swiper__slider__home__wrapper_gradient"></div>
                @if (slide.choice) {
                <div
                    [ngClass]="{
                        'swiper__slider__home__wrapper-choice': slide.choice
                    }"
                >
                    <app-choice-svg></app-choice-svg>
                </div>

                } @if (slide.exclusive) {

                <div
                    [ngClass]="{
                        'swiper__slider__home__wrapper-exclusive':
                            slide.exclusive
                    }"
                >
                    <app-exclusive-svg></app-exclusive-svg>
                </div>

                }
                <img
                    [src]="slide.img"
                    [alt]="slide.title"
                    class="swiper__slider__home__wrapper-image"
                />
                @if (idx === activeSlide && slide.link) {
                <a href="" class="swiper__slider__home__wrapper_link"
                    >Подробнее</a
                >
                } @if (slide.address) {
                <div class="swiper__slider__home__wrapper_top">
                    <img
                        src="/assets/icons/pointer.svg"
                        alt="Slider address pointer"
                    />
                    <span>{{ slide.address }}</span>
                </div>
                } @if (slide.article) {
                <div class="swiper__slider__home__wrapper_top">
                    <button class="swiper__slider__home__wrapper_top-button">
                        Статья
                    </button>
                </div>

                } @if (slide.article || slide.news) {
                <div class="swiper__slider__home__wrapper_top">
                    @if (slide.article) {
                    <button
                        class="swiper__slider__home__wrapper_top-button"
                        type="button"
                    >
                        Статья
                    </button>
                    } @else {
                    <button
                        class="swiper__slider__home__wrapper_top-button"
                        type="button"
                    >
                        Новости
                    </button>
                    }
                </div>
                }
                <div
                    class="swiper__slider__home__wrapper_bottom"
                    [ngClass]="{
                        'swiper__slider__home__wrapper_bottom-low':
                            slide.addedBottomClass
                    }"
                >
                    @if (slide.single) { @if (idx === activeSlide && (slide.sell
                    || slide.rent)) { @if (slide.sell) {
                    <button class="swiper__slider__home__wrapper_bottom-button">
                        Продажа
                    </button>
                    } @if (slide.rent) {
                    <button class="swiper__slider__home__wrapper_bottom-button">
                        Аренда
                    </button>
                    } } } @else { @if (slide.sell || slide.rent) { @if
                    (slide.sell) {
                    <button class="swiper__slider__home__wrapper_bottom-button">
                        Продажа
                    </button>
                    } @if (slide.rent) {
                    <button class="swiper__slider__home__wrapper_bottom-button">
                        Аренда
                    </button>
                    } } }

                    <p class="swiper__slider__home__wrapper_bottom-title">
                        {{ slide.title }}
                    </p>
                    <p class="swiper__slider__home__wrapper_bottom-description">
                        {{ slide.description }}
                    </p>
                </div>
            </div>
        </div>
    </swiper-slide>
    }
</swiper-container>
