<swiper-container
    fmSwiper
    [config]="config"
    init="false"
    *transloco="let t; read: 'slider'"
>
    @for (slide of slides; track slide.img; let idx = $index) {
    <swiper-slide>
        @if (detailedComponentStyle) {
        <div class="swiper__slider__detailed">
            <img [src]="slide.img" [alt]="t(slide['title-short']!)" />
        </div>
        } @else {

        <div class="swiper__slider__home">
            <div class="swiper__slider__home__wrapper">
                <div class="swiper__slider__home__wrapper_gradient"></div>
                @if (slide.choice) {
                <div
                    [ngClass]="{
                        'swiper__slider__home__wrapper-choice': slide.choice
                    }"
                >
                    <app-choice-svg></app-choice-svg>
                </div>

                } @if (slide.exclusive) {

                <div
                    [ngClass]="{
                        'swiper__slider__home__wrapper-exclusive':
                            slide.exclusive
                    }"
                >
                    <app-exclusive-svg></app-exclusive-svg>
                </div>

                }
                <img
                    [src]="slide.img"
                    [alt]="slide.title"
                    class="swiper__slider__home__wrapper-image"
                />
                @if (idx === activeSlide && slide.link) {
                <a href="" class="swiper__slider__home__wrapper_link">
                    {{ t("slider_more") }}
                </a>
                } @if (slide.address) {
                <div class="swiper__slider__home__wrapper_top">
                    <img
                        src="assets/icons/pointer.svg"
                        alt="Slider address pointer"
                    />
                    <span>
                        {{ t(slide.address) }}
                    </span>
                </div>
                } @if (slide.article) {
                <div class="swiper__slider__home__wrapper_top">
                    <button class="swiper__slider__home__wrapper_top-button">
                        {{ t("slider_article") }}
                    </button>
                </div>

                } @if (slide.article || slide.news) {
                <div class="swiper__slider__home__wrapper_top">
                    @if (slide.article) {
                    <button
                        class="swiper__slider__home__wrapper_top-button"
                        type="button"
                    >
                    {{ t("slider_article") }}
                    </button>
                    } @else {
                    <button
                        class="swiper__slider__home__wrapper_top-button"
                        type="button"
                    >
                    {{ t("slider_news") }}
                    </button>
                    }
                </div>
                }
                <div
                    class="swiper__slider__home__wrapper_bottom"
                    [ngClass]="{
                        'swiper__slider__home__wrapper_bottom-low':
                            slide.addedBottomClass
                    }"
                >
                    @if (slide.single) { @if (idx === activeSlide && (slide.sell
                    || slide.rent)) { @if (slide.sell) {
                    <button class="swiper__slider__home__wrapper_bottom-button">
                        {{ t("slider_sell") }}
                    </button>
                    } @if (slide.rent) {
                    <button class="swiper__slider__home__wrapper_bottom-button">
                        {{ t("slider_rent") }}
                    </button>
                    } } } @else { @if (slide.sell || slide.rent) { @if
                    (slide.sell) {
                    <button class="swiper__slider__home__wrapper_bottom-button">
                        {{ t("slider_sell") }}
                    </button>
                    } @if (slide.rent) {
                    <button class="swiper__slider__home__wrapper_bottom-button">
                        {{ t("slider_rent") }}
                    </button>
                    } } }


                    @if (slide.title) {
                        <p class="swiper__slider__home__wrapper_bottom-title">
                            {{ t(slide.title) }}
                        </p>
                    }

                    @if (slide['title-short']) {
                        <p class="swiper__slider__home__wrapper_bottom-title">
                            {{ t(slide['title-short']) }}
                        </p>
                    }

                    <p class="swiper__slider__home__wrapper_bottom-description">
                        {{ t(slide.description!) }}
                    </p>
                </div>
            </div>
        </div>
        }
    </swiper-slide>
    }
</swiper-container>
