<div
    class="menu"
    [ngClass]="{ menu__active: isOpen }"
    (click)="onMenuOverlayClick($event)"
>
    <div class="menu__wrapper">
        <div class="menu__header">
            <div class="menu__header_nav">
                <a href="">en</a>
                <a href="">fr</a>
                <a href="">ru</a>
                <a href="">it</a>
            </div>
            <img
                src="assets/icons/menu_close.svg"
                alt="Burger menu close"
                (click)="onCloseMenu()"
                class="burger__close"
            />
        </div>

        <nav>
            <ul class="menu__links">
                @for (item of navLinks; track item.link) {
                <li
                    routerLinkActive="link__active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    <a
                        [routerLink]="item.link"
                        class="menu__links_link link__hover"
                        (click)="onCloseMenu()"
                        >{{ item.title }}</a
                    >
                </li>
                }
            </ul>
        </nav>

        <a
            [routerLink]=""
            class="menu__link_feedback link__hover"
            (click)="onCloseMenu()"
            >Связаться с нами</a
        >

        <div class="menu__links_policy">
            <a
                [routerLink]="'/fee'"
                class="link__policy_hover"
                (click)="onCloseMenu()"
                >Наша комиссия</a
            >
            <a
                [routerLink]="'/policy'"
                class="link__policy_hover"
                (click)="onCloseMenu()"
                >Политика конфиденциальности</a
            >
        </div>
    </div>
</div>
