<div
    class="menu"
    [ngClass]="{ menu__active: isOpen }"
    (click)="onMenuOverlayClick($event)"
>
    <div class="menu__wrapper" *transloco="let t; read: 'menu'">
        <div class="menu__header">
            <app-language-switcher></app-language-switcher>

            <app-svg-close-button
                [color]="closeButtonColor"
                class="burger__close"
                (click)="onCloseMenu()"
            ></app-svg-close-button>
        </div>

        <nav>
            <ul class="menu__links">
                @for (item of navLinks; track item.link) {
                <li
                    routerLinkActive="link__active"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    <a
                        [routerLink]="item.link"
                        class="menu__links_link link__hover"
                        (click)="onCloseMenu()"
                        >{{ t(item.title) }}</a
                    >
                </li>
                }
            </ul>
        </nav>

        <button
            class="menu__link_feedback link__hover"
            (click)="onCloseMenu()"
            (click)="contactWithUsService.toggleIsOpenContact()"
        >
            {{ t("menu_contact_button") }}
        </button>

        <div class="menu__links_policy">
            <a
                [routerLink]="'/fee'"
                class="link__policy_hover"
                (click)="onCloseMenu()"
            >
                {{ t("menu_link_fee") }}
            </a>
            <a
                [routerLink]="'/policy'"
                class="link__policy_hover"
                (click)="onCloseMenu()"
            >
                {{ t("menu_link_privacy") }}
            </a>
        </div>
    </div>
</div>
