<div class="crumbs" *transloco="let t; read: 'crumbs'">
    <a [routerLink]="'/'" class="crumbs__title">
        {{ t("crumbs_title") }}
    </a>
    <img
        src="
        assets/icons/crumbs_row.svg"
        alt="Crumbs arrow"
        class="crumbs__image"
    />

    @if (detailedSell) {

    <a [routerLink]="'/sell'" class="crumbs__title">
        {{ t("crumbs_title_sell") }}
    </a>
    <img
        src="
                assets/icons/crumbs_row.svg"
        alt="Crumbs arrow"
        class="crumbs__image"
    />
    } @if (detailedRent) {

    <a [routerLink]="'/rent'" class="crumbs__title">
        {{ t("crumbs_title_rent") }}
    </a>
    <img
        src="
                assets/icons/crumbs_row.svg"
        alt="Crumbs arrow"
        class="crumbs__image"
    />
    }

    <span class="crumbs__current">{{ t(current) }}</span>
</div>
