<div class="buySellRent__first">
    <div class="buySellRent__first_wrapper">
        <div class="container">
            <app-crumbs [current]="current"></app-crumbs>

            <h1 class="buySellRent__first_title">
                Купить, продать, арендовать
            </h1>

            <p class="buySellRent__first_subtitle">Вместе с Azur Life</p>

            <div class="buySellRent__first_description">
                Azur Life расширит горизонты операций с недвижимостью во
                Франции. Неважно, что необходимо Вам сегодня: продажа
                апартаментов или приобретение новой недвижимости, вместе с Azur
                Life этот процессбудет быстрым.
            </div>
        </div>
    </div>
</div>
