<form
    class="contactUs__form"
    [formGroup]="joinForm"
    *transloco="let t; read: 'join_form'"
>
    <div class="contactUs__form_controls">
        <div
            class="contactUs__form_control"
            [ngClass]="{ invalid: name?.touched && name?.invalid }"
        >
            <input
                id="name"
                type="text"
                formControlName="name"
                autocomplete="name"
                [placeholder]="t('name_placeholder')"
            />
            <div class="validation" *ngIf="name?.touched && name?.invalid">
                <small *ngIf="getError('name', 'required')">
                    {{ t("name_required_error") }}
                </small>
            </div>
        </div>

        <div
            class="contactUs__form_control"
            [ngClass]="{
                invalid: phone?.touched && phone?.invalid
            }"
        >
            <input
                id="phone"
                type="number"
                formControlName="phone"
                autocomplete="phone"
                [placeholder]="t('phone_placeholder')"
            />
            <div class="validation" *ngIf="phone?.touched && phone?.invalid">
                <small *ngIf="getError('phone', 'required')">
                    {{ t("phone_required_error") }}
                </small>
            </div>
        </div>

        <div
            class="contactUs__form_control"
            [ngClass]="{
                invalid: email?.touched && email?.invalid
            }"
        >
            <input
                id="email"
                type="email"
                formControlName="email"
                autocomplete="email"
                placeholder="Email"
            />
            <div class="validation" *ngIf="email?.touched && email?.invalid">
                <small *ngIf="getError('email', 'required')">
                    {{ t("email_required_error") }}
                </small>
                <small *ngIf="getError('email', 'email')">
                    {{ t("email_invalid_error") }}
                </small>
            </div>
        </div>

        <div
            class="contactUs__form_control contactUs__form_control-textarea"
            [ngClass]="{
                invalid: joinText?.touched && joinText?.invalid
            }"
        >
            <textarea
                id="joinText"
                formControlName="joinText"
                class="contactUs__form_control-textarea"
                [placeholder]="t('joinText_placeholder')"
            ></textarea>
            <div
                class="validation"
                *ngIf="joinText?.touched && joinText?.invalid"
            >
                <small *ngIf="getError('joinText', 'required')">
                    {{ t("joinText_required_error") }}
                </small>
            </div>
        </div>
    </div>

    <div class="contactUs__form_checkbox_wrapper">
        <div class="contactUs__form_checkbox">
            <input
                type="checkbox"
                id="privacyCheckbox"
                formControlName="privacyPolicy"
                class="contactUs__form_checkbox-input"
            />
            <span class="contactUs__form_checkbox-checkmark"></span>
        </div>
        <label
            for="privacyCheckbox"
            class="contactUs__form_checkbox-label"
            (click)="handleCheckboxClick($event)"
        >
            {{ t("privacy_policy_label") }}
        </label>
    </div>

    <div class="contactUs__form__submit">
        <button
            [disabled]="joinForm.invalid"
            type="submit"
            class="contactUs__form__submit-button"
            (click)="onSubmit()"
        >
            {{ t("submit_button") }}
        </button>
    </div>
</form>
