<div class="detailed__fourth">
    <div class="container" *transloco="let t; read: 'detailed_fourth'">
        <div class="detailed__fourth_wrapper">
            <img
                src="assets/images/letters/a_light.svg"
                alt="Background letter"
                class="detailed__fourth_letter"
            />
            <h2 class="detailed__fourth_title">
                {{ t("detailed_fourth_title") }}
            </h2>

            <p class="detailed__fourth_description">
                {{ t(details.description) }}
            </p>

            <div class="detailed__fourth__details">
                <div class="detailed__fourth__details_common">
                    <span class="detailed__fourth__details_title">
                        {{ t("detailed_fourth_title_common") }}
                    </span>

                    <svg
                        width="311"
                        height="2"
                        viewBox="0 0 311 2"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M0 1H311" stroke="black" />
                    </svg>

                    <div class="detailed__fourth__details_wrapper">
                        <div class="detailed__fourth__details_common_item">
                            <div
                                class="detailed__fourth__details_common_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_area") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_common_item_right"
                            >
                                <span
                                    >{{ details.common.area }}
                                    <span>м<sup>2</sup></span></span
                                >
                            </div>
                        </div>
                        <div class="detailed__fourth__details_common_item">
                            <div
                                class="detailed__fourth__details_common_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_rooms") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_common_item_right"
                            >
                                <span>
                                    {{ details.common.rooms }}
                                    {{ t("detailed_fourth_left_rooms_number") }}
                                </span>
                            </div>
                        </div>
                        <div class="detailed__fourth__details_common_item">
                            <div
                                class="detailed__fourth__details_common_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_heat") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_common_item_right"
                            >
                                @if (details.common.heating) {

                                <span>{{ t(details.common.heating) }}</span>
                                }
                            </div>
                        </div>
                        <div class="detailed__fourth__details_common_item">
                            <div
                                class="detailed__fourth__details_common_item_left"
                            >
                                <span
                                    [innerHTML]="
                                        t('detailed_fourth_left_hot_water')
                                    "
                                >
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_common_item_right"
                            >
                                @if (details.common.hot_water) {

                                <span>{{ t(details.common.hot_water) }}</span>
                                }
                            </div>
                        </div>
                        <div class="detailed__fourth__details_common_item">
                            <div
                                class="detailed__fourth__details_common_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_state") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_common_item_right"
                            >
                                @if (details.common.state) {

                                <span>{{ t(details.common.state) }}</span>
                                }
                            </div>
                        </div>
                        <div class="detailed__fourth__details_common_item">
                            <div
                                class="detailed__fourth__details_common_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_landmarks") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_common_item_right"
                            >
                                @if (details.common.landmarks) {

                                <span>{{ t(details.common.landmarks) }}</span>
                                }
                            </div>
                        </div>
                        <div class="detailed__fourth__details_common_item">
                            <div
                                class="detailed__fourth__details_common_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_view") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_common_item_right"
                            >
                                @if (details.common.view) {

                                <span>
                                    {{ t(details.common.view) }}
                                </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detailed__fourth__details_services">
                    <span class="detailed__fourth__details_title">
                        {{ t("detailed_fourth_left_services") }}
                    </span>

                    <svg
                        width="311"
                        height="2"
                        viewBox="0 0 311 2"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M0 1H311" stroke="black" />
                    </svg>

                    <div class="detailed__fourth__details_services_wrapper">
                        @for (item of details.services; track item) {
                        <div class="detailed__fourth__details_services_item">
                            <span>{{ t(item) }}</span>
                        </div>
                        }
                    </div>
                </div>
                <div class="detailed__fourth__details_distance">
                    <span class="detailed__fourth__details_title">
                        {{ t("detailed_fourth_left_distance") }}
                    </span>

                    <svg
                        width="311"
                        height="2"
                        viewBox="0 0 311 2"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path d="M0 1H311" stroke="black" />
                    </svg>

                    <div class="detailed__fourth__details_wrapper">
                        <div class="detailed__fourth__details_distance_item">
                            <div
                                class="detailed__fourth__details_distance_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_airport") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_distance_item_right"
                            >
                                @if (details.distance.airport) {

                                <span>{{ t(details.distance.airport) }} </span>
                                }
                            </div>
                        </div>

                        <div class="detailed__fourth__details_distance_item">
                            <div
                                class="detailed__fourth__details_distance_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_bus") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_distance_item_right"
                            >
                                @if (details.distance.bus_stop) {

                                <span>{{ t(details.distance.bus_stop) }} </span>
                                }
                            </div>
                        </div>

                        <div class="detailed__fourth__details_distance_item">
                            <div
                                class="detailed__fourth__details_distance_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_sea") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_distance_item_right"
                            >
                                @if (details.distance.sea) {

                                <span>{{ t(details.distance.sea) }} </span>
                                }
                            </div>
                        </div>

                        <div class="detailed__fourth__details_distance_item">
                            <div
                                class="detailed__fourth__details_distance_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_beach") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_distance_item_right"
                            >
                                @if (details.distance.beach) {

                                <span>{{ t(details.distance.beach) }} </span>
                                }
                            </div>
                        </div>

                        <div class="detailed__fourth__details_distance_item">
                            <div
                                class="detailed__fourth__details_distance_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_highway") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_distance_item_right"
                            >
                                @if (details.distance.highway) {

                                <span>{{ t(details.distance.highway) }} </span>
                                }
                            </div>
                        </div>

                        <div class="detailed__fourth__details_distance_item">
                            <div
                                class="detailed__fourth__details_distance_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_city_center") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_distance_item_right"
                            >
                                @if (details.distance.city_center) {

                                <span>
                                    {{ t(details.distance.city_center) }}
                                </span>
                                }
                            </div>
                        </div>

                        <div class="detailed__fourth__details_distance_item">
                            <div
                                class="detailed__fourth__details_distance_item_left"
                            >
                                <span>
                                    {{ t("detailed_fourth_left_city_park") }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_distance_item_right"
                            >
                                @if (details.distance.park) {

                                <span>{{ t(details.distance.park) }} </span>
                                }
                            </div>
                        </div>

                        <div class="detailed__fourth__details_distance_item">
                            <div
                                class="detailed__fourth__details_distance_item_left"
                            >
                                <span>
                                    {{
                                        t("detailed_fourth_left_city_sea_port")
                                    }}
                                </span>
                            </div>
                            <div
                                class="detailed__fourth__details_distance_item_right"
                            >
                                @if (details.distance.seaport) {

                                <span>{{ t(details.distance.seaport) }} </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
