.rent__first {
    padding-top: 106px;
    padding-bottom: 337px;
    min-height: 100vh;
    background-image: url("/assets/images/rent/rent_first.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__title {
        display: flex;
        flex-direction: column;
        width: 525px;
        margin-top: 161px;
        &_first {
            position: relative;
            width: max-content;
            &-logo {
                display: inline-block;
                position: absolute;
                top: -2.2rem;
                right: -4.2rem;
            }
        }
    }

    &_description {
        margin-top: 45px;
        max-width: 370px;
    }
}
