<div class="rent__first">
    <div class="container">
        <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>

        <div class="rent__first__title">
            <div class="rent__first__title_first">
                <h2>Аренда</h2>
                <div class="rent__first__title_first-logo">
                    <app-logo-circle></app-logo-circle>
                </div>
            </div>

            <div class="rent__first__title_second">
                <h2>на Лазурном берегу</h2>
            </div>
        </div>

        <p class="rent__first_description">
            Арендовать недвижимость на сезон или выбрать что-то на долгосрочный
            период можно легко. <br />
            Azur Life предоставляет опцию полного сопровождения сделки аренды.
            Мы выберем премиальные виллы и апартаменты под Ваш запрос без
            комиссии и дополнительных наценок.
        </p>
    </div>
</div>
