<div class="rent__first">
    <div class="container" *transloco="let t; read: 'rent_first'">
        <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>

        <div class="rent__first__title">
            <div class="rent__first__title_first">
                <h2>
                    {{ t("rent_first_title") }}
                </h2>
                <div class="rent__first__title_first-logo">
                    <app-logo-circle></app-logo-circle>
                </div>
            </div>

            <div class="rent__first__title_second">
                <h2>
                    {{ t("rent_first_title_second") }}
                </h2>
            </div>
        </div>

        <p
            class="rent__first_description"
            [innerHTML]="t('rent_first_description')"
        ></p>
    </div>
</div>
