.container {
    padding-top: 165px;
    padding-bottom: 125px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.home {
    &__fourth {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-image: url("/assets/images/home/fourth.png");
        background-repeat: no-repeat;
        background-position: left;
        background-color: var(--background-second);
        &__wrapper {
            width: 100vw;
            min-height: 100vh;
            background: linear-gradient(
                90deg,
                rgba(16, 16, 16, 0.51) 0%,
                rgba(16, 16, 16, 0.72) 0.01%,
                rgba(16, 16, 16, 0) 60.98%
            );
        }

        &__left {
            width: 570px;
            &_title {
                font-size: 85px;
                line-height: 90%;
                letter-spacing: -1.7px;
                margin-bottom: 71px;
            }
            &__address {
                display: flex;
                align-items: center;
                padding-bottom: 28px;
                &__pointer {
                    &_wrapper {
                        position: relative;
                        background-image: url("../../../../../assets/icons/office_pointer.svg");
                        background-repeat: no-repeat;
                        width: 68px;
                        height: 68px;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            &_description {
                width: 435px;
                margin-bottom: 157px;
            }
            &_button {
                width: 190px;
                height: 57px;
                background-color: var(--button-background);
                border: none;
                border-radius: 7px;
                cursor: pointer;
                &:hover {
                    background-color: var(--button-hover);
                } 
            }
        }
    }
}
