<div class="conciergeService__first">
    <div class="conciergeService__first_wrapper">
        <div class="container">
            <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>

            <h1 class="conciergeService__first_title">
                Премиум консьерж-сервис для клиентов Azur Life
            </h1>

            <p class="conciergeService__first_description">
                Если Вы арендуете недвижимость с Azure Life, мы гарантируем
                высококлассный сервис для Вас и Ваших гостей. Всё, что требуется
                для идеального путешествия клиентов Azur life будет организовано
                за Вас: будь то организация индивидуальных экскурсий или
                резервация ресторанов.
            </p>

            <button class="conciergeService__first_button">
                Отправить запрос
            </button>
        </div>
    </div>
</div>
