<div class="conciergeService__first">
    <div class="conciergeService__first_wrapper">
        <div class="container" *transloco="let t; read: 'concierge_first'">
            <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>

            <h1 class="conciergeService__first_title">
                {{ t("concierge_first_title") }}
            </h1>

            <p class="conciergeService__first_description">
                {{ t("concierge_first_description") }}
            </p>

            <button class="conciergeService__first_button">
                {{ t("concierge_first_submit_button") }}
            </button>
        </div>
    </div>
</div>
