<div
    class="feedback"
    [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }"
>
    <div class="feedback_wrapper">
        <div class="container" *transloco="let t; read: 'feedback'">
            <p class="feedback__subtitle">
                {{ t("feedback_subtitle") }}
            </p>
            <div class="feedback__title">
                <h2>{{ t(feedbackTitle) }}</h2>
                <div
                    class="feedback__title_circle"
                    [class.hide]="feedbackTextArea"
                >
                    <app-logo-circle></app-logo-circle>
                </div>
            </div>

            <form class="feedback__form" [formGroup]="feedbackForm">
                <div class="feedback__form_controls">
                    <div
                        class="feedback__form_control"
                        [ngClass]="{ invalid: name?.touched && name?.invalid }"
                    >
                        <input
                            id="name"
                            type="text"
                            formControlName="name"
                            autocomplete="name"
                            [placeholder]="t('feedback_form_name_placeholder')"
                        />
                        <div
                            class="validation"
                            *ngIf="name?.touched && name?.invalid"
                        >
                            <small *ngIf="getError('name', 'required')">
                                {{ t("feedback_form_name_error") }}
                            </small>
                        </div>
                    </div>

                    <div
                        class="feedback__form_control"
                        [ngClass]="{
                            invalid: phone?.touched && phone?.invalid
                        }"
                    >
                        <input
                            id="phone"
                            type="number"
                            formControlName="phone"
                            autocomplete="phone"
                            [placeholder]="t('feedback_form_phone_placeholder')"
                        />
                        <div
                            class="validation"
                            *ngIf="phone?.touched && phone?.invalid"
                        >
                            <small *ngIf="getError('phone', 'required')">
                                {{ t("feedback_form_phone_error") }}
                            </small>
                        </div>
                    </div>

                    <div
                        class="feedback__form_control"
                        [ngClass]="{
                            invalid: email?.touched && email?.invalid
                        }"
                    >
                        <input
                            id="email"
                            type="email"
                            formControlName="email"
                            autocomplete="email"
                            placeholder="Email"
                        />
                        <div
                            class="validation"
                            *ngIf="email?.touched && email?.invalid"
                        >
                            <small *ngIf="getError('email', 'required')">
                                {{ t("feedback_form_email_required_error") }}
                            </small>
                            <small *ngIf="getError('email', 'email')">
                                {{ t("feedback_form_email_invalid_error") }}
                            </small>
                        </div>
                    </div>
                    @if(feedbackTextArea) {

                    <div
                        class="feedback__form_control feedback__form_control-textarea"
                        [ngClass]="{
                            invalid:
                                feedbackText?.touched && feedbackText?.invalid
                        }"
                    >
                        <textarea
                            id="feedbackText"
                            formControlName="feedbackText"
                            class="feedback__form_control-textarea"
                            [placeholder]="t('feedback_form_text_placeholder')"
                        ></textarea>
                        <div
                            class="validation"
                            *ngIf="
                                feedbackText?.touched && feedbackText?.invalid
                            "
                        >
                            <small *ngIf="getError('feedbackText', 'required')">
                                {{ t("feedback_form_text_required_error") }}
                            </small>
                        </div>
                    </div>
                    }
                </div>

                <div class="feedback__form_checkbox_wrapper">
                    <div class="feedback__form_checkbox">
                        <input
                            type="checkbox"
                            id="privacyCheckbox"
                            formControlName="privacyPolicy"
                            class="feedback__form_checkbox-input"
                        />
                        <span class="feedback__form_checkbox-checkmark"></span>
                    </div>
                    <label
                        for="privacyCheckbox"
                        class="feedback__form_checkbox-label"
                    >
                        {{ t("feedback_form_privacy") }}
                    </label>
                    <div class="feedback__form__submit">
                        <button
                            [disabled]="feedbackForm.invalid"
                            type="submit"
                            class="feedback__form__submit-button"
                        >
                            {{ t("feedback_form_submit_button") }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <app-navigation-bottom-links></app-navigation-bottom-links>
</div>
