<div class="policy__first">
    <div class="container">
        <app-crumbs [current]="currentCrumbsTitle"></app-crumbs>
        <h1 class="policy__first_title">
            {{ currentCrumbsTitle }}
        </h1>
        <div class="policy__first_paragraphs">
            @for (paragraph of privacyParagraphs; track paragraph;) {
            <p class="policy__first_paragraphs-paragraph">
                {{ paragraph }}
            </p>
            }
        </div>
    </div>

    <app-navigation-bottom-links></app-navigation-bottom-links>
    <img
        src="assets/images/letters/a.svg"
        alt=""
        class="policy__first_letter"
    />
</div>
