.home {
    &__second {
        background-color: var(--background-second);
        padding-top: 52px;
        padding-bottom: 66px;
        position: relative;
        &_letter {
            position: absolute;
            top: -71px;
            right: 0;
        }
        &_wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__left {
            position: relative;
            width: 475px;
            &_title {
                margin-top: 92px;
                font-size: 85px;
                line-height: 90%;
                letter-spacing: -1.7px;
            }

            &_subtitle {
                margin-top: 10px;
                font-size: 20px;
            }

            &_description {
                margin-top: 55px;
                line-height: 160%;
            }

            &_experience {
                margin-top: 70px;
            }
            &_link {
                position: absolute;
                top: 87px;
                right: 60px;
                text-decoration: none;
                &:after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    bottom: -5px;
                    left: 0;
                    background-color: var(--primary);
                }
            }
            &_button {
                margin-top: 45px;
                width: 186px;
                height: 57px;
                background-color: var(--button-background);
                border: none;
                border-radius: 7px;
                cursor: pointer;
                &:hover {
                    background-color: var(--button-hover);
                }
            }
        }

        &__right {
            width: 490px;
            height: 721px;
            position: relative;
            &_img {
                max-width: 100%;
                max-height: auto;
                object-fit: contain;
            }
            &__founder {
                position: absolute;
                left: 28px;
                bottom: 50px;
                display: flex;
                flex-direction: column;
                &-name {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 120%;
                }
            }
        }
    }
}
