<div class="home__second">
    <img
        src="assets/images/letters/a.svg"
        alt="Azur letter"
        class="home__second_letter"
    />
    <div class="container">
        <div class="home__second_wrapper">
            <div class="home__second__left">
                <h2 class="home__second__left_title">Azur Life</h2>
                <p class="home__second__left_subtitle">
                    Это забота о Вас и Вашей недвижимости
                </p>
                <p class="home__second__left_description">
                    Мы готовы Вас приятно удивить особым подходом и, конечно,
                    трепетным отношением к каждому клиенту. Мы говорим на Вашем
                    языке, так что вы можете лешко и просто оформить сделку
                    дистанционно или посетить наш офис. Расскажите нам о своих
                    предпочтениях и мы подберем стоящий вариант в самом сердце
                    Французской Ривьеры без посредников.
                </p>
                <a href="#" class="home__second__left_link">Подробнее</a>

                <div class="home__second__left_experience">
                    <app-experience></app-experience>
                </div>

                <button class="home__second__left_button">
                    Оставить заявку
                </button>
            </div>

            <div class="home__second__right">
                <img
                    src="assets/images/home/natalia.jpg"
                    alt="Natalia Vinogradova The founder of the agency
                "
                    class="home__second__right-img"
                />
                <div class="home__second__right__founder">
                    <span class="home__second__right__founder-name"
                        >Наталья Виноградова</span
                    >
                    <span class="home__second__right__founder-post"
                        >Основатель агентства</span
                    >
                </div>
            </div>
        </div>
    </div>
</div>
