<div class="home__second">
    <img
        src="assets/images/letters/a.svg"
        alt="Azur letter"
        class="home__second_letter"
    />
    <div class="container">
        <div
            class="home__second_wrapper"
            *transloco="let t; read: 'home_second'"
        >
            <div class="home__second__left">
                <h2 class="home__second__left_title">
                    Azur Life

                    <a href="#" class="home__second__left_link">
                        {{ t("home_second_more") }}
                    </a>
                </h2>
                <p class="home__second__left_subtitle">
                    {{ t("home_second_subtitle") }}
                </p>
                <p class="home__second__left_description">
                    {{ t("home_second_description") }}
                </p>

                <div class="home__second__left_experience">
                    <app-experience></app-experience>
                </div>

                <button class="home__second__left_button">
                    {{ t("home_second_application") }}
                </button>
            </div>

            <div class="home__second__right">
                <img
                    src="assets/images/home/natalia.jpg"
                    alt="Natalia Vinogradova The founder of the agency
                "
                    class="home__second__right-img"
                />
                <div class="home__second__right__founder">
                    <span class="home__second__right__founder-name">
                        {{ t("home_second_name") }}
                    </span>
                    <span class="home__second__right__founder-post">
                        {{ t("home_second_post") }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
